.panel {
    border: 3px solid black;
    padding: 10px;
    box-shadow: 5px 5px 5px #2f4f4f;
}
.savedContainer {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    box-shadow: 3px 3px 3px #2f4f4f;
}
.deleteButton {
    box-shadow: 2px 2px 2px #2f4f4f;
}