.panel {
    border: 3px solid black;
    padding: 10px;
    box-shadow: 5px 5px 5px #2f4f4f;
}
#submit {
    width: 49%;
    box-shadow: 2px 2px 2px #2f4f4f;
}
#clear {
    width: 49%;
    box-shadow: 2px 2px 2px #2f4f4f;
}